.billboard{    
    width: 60vw;        
    box-shadow: 0 24px 60px rgba(0,0,0,0.07);    
    padding: $s-size $l-size $s-size $l-size;
    border-top:6px solid $orange;
    border-radius: 6px;    
    > * {
        display: block;
    }
    text-align: justify;
    line-height: 2.8rem;

    @media (max-width: $desktop-breakpoint) {
        max-width: 90%;
    }
}
