.landing{
    height: 92vh;
    background-image: url('/images/backgrounda.svg');    
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.landing__content{
    display: flex;
    align-items: stretch;
    justify-content: left;

}

.landing__title{
    h1{
        margin: 0;
    }
    color:$dark-grey;
    padding: 10rem 0;
    font-size: $font-size-xlarge;

    @media (max-width: $desktop-breakpoint) {
        max-width: 100%;
        font-size: $font-size-medium;
    }
}

.landing__logo{    
    max-width: 50%;
    padding: $l-size 0;
    margin: 0 ;
    display: block;

    @media (max-width: $desktop-breakpoint) {
        max-width: 100%;
    }
}