.nav {            
    width: 100vw; 
    overflow: hidden;
    align-content: center;
    top:0;
    margin: 0 0vw;
    position:fixed;
    height: 10vh;
    background-color: #ffffff;
    z-index: 100;
    box-shadow: 0 24px 60px rgba(0,0,0,0.07);   
  }
  
  .nav__list {    
    list-style: none;
    align-items:center;
    display: flex;
    justify-content: flex-start;
    padding: $s-size 0;
    flex-wrap: wrap;
    max-width: 80vw;
  }
  
  .nav__link {
    color: $dark-grey;        
    text-decoration: none;
    font-weight: 400;
    font-size: $font-size-large;
    margin : 0;       
    a {    
        text-decoration: none;
        color: $light-red;
        transition: color .3s ease;      
        transition: border .3s ease;      
        margin :$m-size;  
        padding: $m-size;
      &:hover{
        border-bottom: 6px solid  $light-red;      
        color: $light-red;
      }
    } 
  }

  .nav__link--active{
  
    a{
        border-bottom: 6px solid  $light-red;      
        color: $light-red;    
        margin :$s-size;  
        padding-bottom: $m-size;
    }
  }
  
  