.nav {
    
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 100vh; 
  }
  
  .nav__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
    flex-wrap: wrap;
  }
  
  .nav__link {
    color: $dark-grey;        
    text-decoration: none;
    font-weight: bold;
    margin : 0;
    padding: $s-size $m-size;   
    a {          
      padding: $m-size $m-size;  
      &:hover{
        border-bottom: 6px solid  $light-red;      
        color: $light-red;
      }
    } 
  }

  .nav__link--active{
    border-bottom: 6px solid  $light-red;      
    color: $light-red;      
  }
  
  .nav__brand {
    color: $light-red;
    text-decoration: none;
    h1 {
      margin: 0;
    }
  }
